
/bak20220704
/__pycache__
/build
/C\#
/Document
/err
/images
/OCR
/std_char
/Visual FoxPro8
/report
/dist
/.idea
/baoguang
*.png
*.spec
/test
*.bmp
*.docx
*.pptx
*.xlsx
*.exe
/job
/處理圖像沒做線程
*.jpg
*.7z
*.txt
Barcode_test.py
check_file.py
CV_PDF.py
test1.py
sql_connect_test.py
move_file.py
處理圖像獨立線程/vi_tk.py
Images_test.py
